{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<div id="auth_window" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {% trans 'SignInToContinueString' %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#login_form">
                {% trans 'LoginString' %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#signup_form">
                {% trans 'SignUpString' %}
              </a>
            </li>
          </ul>
        <div class="tab-content" style="height:320px;">
          <div class="tab-pane active container" id="login_form">
            <form name="login_form" action="{% url 'login' %}" method="post">
              {% csrf_token %}
              {% for field in login_form.visible_fields %}
              <div id="login_div_id_{{field.name}}" class="form-group">
                <label for="login_id_{{field.name}}" class=" requiredField">
                  {{ field.label_tag }}
                </label>
                <div class="">
                  <input type="text" name="{{field.name}}" class="textinput textInput form-control" required="" id="login_id_{{field.name}}">
                </div>
                <div id="login_id_{{field.name}}_errors">
                </div>
              </div>
              {% endfor %}
              <input type="hidden" name="next" value="{{ next }}">
              <div class="d-flex justify-content-center" style="width: 100%;">
                <input name="login" class="btn btn-primary btn-lg btn-block bg-dark mt-auto" type="submit" value="{% trans 'LoginString' %}">
              </div>
            </form>
          </div>
          <div class="tab-pane container" id="signup_form">
            <form name="signup_form" action="{% url 'signup' %}" method="post">
              {% csrf_token %}
              {% for field in signup_form.visible_fields %}
              <div id="signup_div_id_{{field.name}}" class="form-group">
                <label for="signup_id_{{field.name}}" class=" requiredField">
                  {{ field.label_tag }}
                </label>
                <div class="">
                  <input type="text" name="{{field.name}}" class="textinput textInput form-control" required="" id="signup_id_{{field.name}}">
                </div>
                <div id="signup_id_{{field.name}}_errors">
                </div>
              </div>
              {% endfor %}
              <input type="hidden" name="next" value="{{ next }}">
              <div class="d-flex justify-content-center btn-block">
                <input class="btn btn-primary btn-lg btn-block bg-dark align-self-end" type="submit" value="{% trans 'SignUpString' %}">
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container-fluid">
            <div class="row">
              {% for provider in oauth_providers %}
              <div class="col-sm">
                <button type="button" class="btn btn-icon btn-block">
                  <span>
                    {% with '/images/'|add:provider|add:'_logo.png' as img_src %}
                      <img src="{% static img_src %}" width="40">
                    {% endwith %}
                  </span>
                </button>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="{% static 'js/login_handler.js' %}">  </script>
<script src="{% static 'js/login_form_submit.js' %}">  </script>
<script src="{% static 'js/signup_form_submit.js' %}">  </script>
<script src="{% static 'js/select_account.js' %}">  </script>
