{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  {% include 'navbar/header.html' %}
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-dark container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% include 'navbar/navigation.html' %}
    {% include 'navbar/settings.html' %}
  </div>
  {% include 'navbar/user_auth.html' %}
</nav>
