{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-md navbar-light bg-primary">
    {% include 'navbar/header.html' %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          {% include 'navbar/left_nav.html' %}
        </ul>
        <ul class="navbar-nav">
          {% include 'navbar/right_nav.html' %}
        </ul>
    </div>
</nav>
