{% load i18n %}

<ul class="navbar-nav justify-content-center not-impl">
  <li class="nav-item pull-left">
    <button class="btn btn-warning nav-btn">
      <a class="nav-link text-dark" href="{% url 'commodity_list' %}">
        {% trans 'Trading' %}
      </a>
    </button>
  </li>
  <li class="nav-item pull-left">
    <button class="btn btn-dark">
      <a class="nav-link text-white" href="{% url 'statistics' %}">
        {% trans 'BestTraders' %}
      </a>
    </button>
  </li>
  <li class="nav-item pull-left">
    <button class="btn btn-dark">
      <a class="nav-link text-white" href="#">
        {% trans 'OtherStuff' %}
      </a>
    </button>
  </li>
</ul>
