{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<ul class="navbar-nav mr-auto pull-right justify-content-center not-impl">
  <div class="dropdown">
  <li class="nav-item mr-auto pull-right">
    <button class="btn btn-dark dropdown-toggle nav-link text-white" type="button" id="language_menu_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% trans 'LanguageString' %}: {{LANGUAGE_CODE}}
    </button>
    <div class="dropdown-menu bg-dark" style="width: 100%;" aria-labelledby="language_menu_btn">
      {% for language in languages %}
        <a class="dropdown-item bg-dark full-width text-white" href="{% url 'set_language' forloop.counter0 %}">
          {{language.name_local.capitalize}}
        </a>
      {% endfor %}
    </div>
  </li>
  </div>
</ul>
