{% load i18n %}

<ul class="navbar-nav mr-auto">
{% if user.is_authenticated %}
<li class="nav-item">
  <a class="nav-link" href="#">
    {{ user }}
  </a>
</li>
<li class="nav-item">
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for account_type in account_types %}
    <a id="select_{{account_type.0|lower}}_account" class="dropdown-item" href="select_{{account_type.0|lower}}_account">
      <div class="row">
        {{ account_type.0 }}: 100500 $
      </div>
    </a>
    {% endfor %}
  </div>
</div>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'logout' %}">
    {% trans 'LogoutString' %}
  </a>
</li>
{% else %}
<li class="nav-item">
  <button class="btn btn-primary" data-toggle="modal" data-target="#auth_window">
    {% trans 'EnterString' %}
  </button>
</li>
{% endif %}
</ul>

{% include 'auth_dialog.html' %}
