{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid h-100 overflow-auto" style="height: 100px;"">
  <div class="row h-75">
    <div class="col-12 col-md-3 p-0 bg-dark">
      {% include 'commodity_list_navbar.html' %}
    </div>
    <div class="col-sm">
      {% block app_content %}
      {% endblock app_content %}
    </div>
    <div class="col-12 col-md-2 p-0 bg-dark">
        <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
          {% include 'user_bet_list_navbar.html' %}
        </nav>
    </div>
  </div>
</div>

<script src="{% static 'js/commodity_list_navbar_update.js' %}">
</script>

{% endblock content %}
