{% load i18n %}

<nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row justify-content-center">

  <h5 class="display-6 text-white" style="text-align: center;">
    {% trans 'UserBetsListCaption' %}
  </h5>

  {% if bets %}
  <table class="table text-white">
    <thead>
      <tr>
        <th scope="col">
          {% trans 'Time' %}
        </th>
        <th scope="col">
          {% trans 'Venture' %}
        </th>
        <th scope="col">
          {% trans 'Income' %}
        </th>
      </tr>
    </thead>
    <tbody>
    {% for bet in bets %}
      <tr>
        <td>
          0
        </td>
        <td>
          0
        </td>
        <td>
          0
        </td>
      </tr>
        <tr>
          <td colspan="5" style="text-align: center;">
            {% trans 'NoBetsYet' %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h6 class="display-6 text-white" style="text-align: center;">
    {% trans 'NoBetsYet' %}
  </h6>
  {% endif %}
</nav>
