{% extends 'base_trading.html' %}

{% load static %}

{% block app_content %}
<h4>
  Showing detail for {{commodity}}
</h4>
<button id='ws_test'>
  Send smth
</button>
<script>
  console.log(window.location.host);
  var socket = new WebSocket('ws://' + window.location.host + '/trading/');

  socket.onopen = function open() {
    console.log('WebSockets connection created.');
  };

  socket.onmessage = function(e) {
    console.log("received message");
    console.log('data: ' + e['data']);
  };

  if (socket.readyState == WebSocket.OPEN) {
    socket.onopen();
  };
</script>
<script src="{% static 'js/websocket_test.js' %}">  </script>
{% endblock app_content %}
