{% extends 'base.html' %}

{% block content %}
<h4>
  Commodities
</h4>
<div class="table-responsive" style="width: 80%; align: center;">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Current price</th>
      <th scope="col">Mean price</th>
      <th scope="col">Diagram</th>
    </tr>
  </thead>
  <tbody>
    {% for cmd in commodity_list %}
    <tr>
      <td>
        <a href="#%}">
          {{cmd.name}}
        </a>
      </td>
      <td>
        {{cmd.price}}
      </td>
      <td>
        {{cmd.mean_price}}
      </td>
      <td>
        some diagram
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}
