{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
<div class="section">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Country</th>
        <th scope="col">Earnings</th>
      </tr>
    </thead>
    <tbody>
      {% for trader in traders %}
      <tr>
        <td>
          {{trader}}
        </td>
        <td>
          <img src="{{trader.profile.country.flag}}">
        </td>
        <td>
          0
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
</div>

{% endblock content %}
