{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4>
        TOP WINNERS
      </h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Country</th>
            <th scope="col">Earnings</th>
          </tr>
        </thead>
        <tbody>
          {% for trader in top_winners %}
          <tr>
            <td>
              {{trader}}
            </td>
            <td>
              <img src="{{trader.profile.country.flag}}" width="25px;">
            </td>
            <td>
              0
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm">
      <h4>
        TOP LOSERS
      </h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Country</th>
            <th scope="col">Earnings</th>
          </tr>
        </thead>
        <tbody>
          {% for trader in top_losers %}
          <tr>
            <td>
              {{trader}}
            </td>
            <td>
              <img src="{{trader.profile.country.flag}}" width="25px;">
            </td>
            <td>
              0
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}
