<blockquote class="blockquote text-center">
  <p class="mb-0">
    Lost gazillions of cash here, even more than on charity. Now I'm working
    as a taxi driver.
  </p>
  <footer class="blockquote-footer"> Bill Gates,
    <cite title="Source Title">Microsoft</cite>
  </footer>
</blockquote>

<blockquote class="blockquote text-center">
  <p class="mb-0">
    I like getting wasted on Fridays with my dog and toss all my earnings down
    the shithole. Highly recommend this site. You are doing great job, guys.
  </p>
  <footer class="blockquote-footer"> John Doe,
    <cite title="Source Title">Financial Times</cite>
  </footer>
</blockquote>

<blockquote class="blockquote text-center">
  <p class="mb-0">
    Wuff-wuff.
  </p>
  <footer class="blockquote-footer"> Sam,
    <cite title="Source Title">John Doe's</cite>
    dog
  </footer>
</blockquote>
